*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 100%;
}
header{
	display: flex;
	width: 100%;
	height: 92px;
}
header > a:nth-child(2){
  display: none;
}
img{
	flex: none;
}
a{
  text-decoration: none;
}
a i{
  font-size: 2rem;
  color: #1f8a5c;
}
.search-input{
	flex-grow: 1;
	border: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  padding-left: 50px;
  letter-spacing: 0.18px;
  background-image: url(../img/mainsearch-icon.png);
  background-position: 48px center;
  background-repeat: no-repeat;
  text-indent: 45px;
  border-right: 1px solid #D4D7DF;
}
.search-input::-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}
.search-input::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}
.search-input:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}
.search-input::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}
.search-input::placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}
.search-input:focus{
	outline: none;
}
.user-settings{
	display: flex;
	width: 281px;
	min-width: 175px;
	justify-content: center;
	align-items: center;
}
.user-name{
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.02em;
	color: #3D4555;
}
.settings-icon{
	margin-left: 20px;
	background: url(../img/settings.png) no-repeat;
	width: 22px;
	height: 22px;
}
#map{
	width: 100%;
	height: calc(100vh - 92px);
}
#map-overlay{
	position: absolute;
	display: flex;
	width: 100%;
	height: calc(100vh - 92px);
	flex-direction: row;
}
#search-results{
	font-family: 'Raleway', sans-serif;
	z-index: 9999;
	font-size: 0.8125rem;
	font-weight: 700;
	color: #3D4555;
	margin: 45px 0 0 45px;
	display: flex;
	flex-flow: column;
	width: 340px;
  align-self: flex-start;
}

.search-results{
  height: 65vh;
  overflow-y: scroll;
}

.search-results article{
  background: #fff;
  padding: 7px;
  border-bottom: 1px solid #e4e6eb;
  transition: background .5s;
}

.search-results article:hover{
  background: #e4e6eb;
}

.search-results figure{
  display: flex;
  align-items: center;  
} 

.search-results:first-child{
  padding: 0 0 .3rem 0;
} 

.search-results p:first-child{
  cursor: pointer;
  transition: color .5s;
  padding-bottom: .3rem;
  font-size: 1rem;
}

.search-results p:first-child:hover{
  color: #CF0A2C;
}

.search-results p:not(:first-child){
  font-weight: 400;
  padding: 0 0 .17rem 0;
} 

.search-results img{
  max-width: 40%;
}

.search-results figcaption{
  padding: 0 0 0 10px;
} 

.modal{
  display: none;
  position: fixed;
  z-index: 10000;
  background: #FFF;
  width: 70%;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 1500px;
  box-shadow: 0 0 0 100vw rgba(0,0,0,.6);
}

.modal img{
  max-width: 45%;
}

.modal h2{
  margin-bottom: .8rem;
}

.modal figure{
  display: flex;
  align-items: flex-start;
  font-family: Raleway;
}

.modal p {
  font-size: 1.25rem;
  padding: 0 0 .3rem 0;
}

.modal p:not(:last-child){
  font-weight:600;
}

.modal figcaption{
  padding: 0 2rem;
}
.popup-close{
  font-size: 1.5rem;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.farmacy-drugs{
	display: flex;
	flex-flow: row;
	background-color: #FFF;
	border-bottom: 1px solid #D4D7DF;
}
.farmacy{
	padding: 20px 0 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	border-right: 1px solid #D4D7DF;
}
.farmacy-image{
	margin-right: 15px;
	background: url(../img/pharmacy.png) no-repeat;
	width: 13px;
	height: 21px;
}
.drugs{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	padding: 20px 0 20px 0;
}
.drugs-image{
	margin-right: 15px;
	background: url(../img/drugs.png) no-repeat;
	width: 16px;
	height: 15px;
}
.filter{
	display: flex;
	padding: 20px 0 20px 0;
	flex-flow: row;
	justify-content: space-between;
	border-bottom: 1px solid #D4D7DF;
	background-color: #FFF;
}
.filter-input{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 35px;
}
.filter-input label{
  margin-top: 10px;
}
.filter-input input[type='button']{
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  color: #FFF;
  margin-top: 10px;
  padding: 10px 0;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: rgb(207, 10, 44);
  cursor: pointer;
}
.filter p{
	margin-left: 35px;
}

.filter-image{
	margin-right: 30px;
	background: url(../img/filter.png) no-repeat;
	width: 22px;
	height: 22px;
  cursor: pointer;
}
.search-results{
  background-color: #F7F7F7;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.15);
}
.search-results > p{
	margin: 20px 35px;
}
.search-city{
	z-index: 9999;
	width: 65%;
	height: 50.25px;
	margin: 20px 20px 0 35px;
	border: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  padding-left: 50px;
  letter-spacing: 0.18px;
  background-image: url(../img/mainsearch-icon.png);
  background-position: 48px center;
  background-repeat: no-repeat;
  text-indent: 45px;
	box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.15);
	border-radius: 2.25px;
}
.search-city::-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}
.search-city::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}
.search-city:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}
.search-city::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}
.search-city::placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
}

@media only screen and (max-width: 1200px) {
  .user-name{
    display: none;
  }
  .user-settings{
    flex: none;
    width: 90px;
    min-width: 90px;
  }
  header a.bigLogo{
    display: none;
  }
  header a:nth-child(2){
    display: block;
  }
  .settings-icon{
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .modal figure{
    flex-direction: column;
  }

  .modal figcaption{
    padding: 0;
  }

  .modal img{
    max-width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  #search-results{
    width: 100%;
    margin: 0;
  }
  .search-results{
    display: none;
  }
  .search-input{
  font-size: 1rem;
  padding-left: 0;
  background-position: 15px center;
  border-right: 1px solid #D4D7DF;
}
.search-input::-moz-placeholder {
  font-size: 1rem;
}
.search-input::-webkit-input-placeholder {
  font-size: 1rem;
}
.search-input:-ms-input-placeholder {
  font-size: 1rem;
}
.search-input::-ms-input-placeholder {
  font-size: 1rem;
}
.search-input::placeholder {
  font-size: .8rem;
}
header > a:nth-child(2){
  display: none;
}
header{
  height: 50px;
}

}

@media only screen and (max-width: 370px) {
  .modal p{
    font-size:1rem;
  }

  .modal figcaption{
    padding: 0;
  }

  .modal img{
    max-width: 100%;
    margin: auto;
  }
}