*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 100%;
}
a{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFF;
}
main{
  background: #1F8A5C url(../img/bg-map.png) center center no-repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a{
  transition: .5s all ease;
}
a:hover{
  color: #CF0A2C;
}
header nav input{
  transition: all .5s ease-in;
}
header nav li a.navbar-item-reg:hover{
  color: #CF0A2C;
  background: #FFF;
}
.header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.header-wrapper{
  margin-top: 34px;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.logo{
  width: 201px;
  height: 43px;
}
.navbar ul{
  display: flex;
  align-items: center;
}
.navbar-item{
  margin-left: 48px;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFF;
  flex-shrink: 0;
}
.navbar-item-reg{
  list-style-type: none;
  padding: 15px 40px;
  background: #CF0A2C;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  border-style: none;
  cursor: pointer; 
}
.search-wrapper{
  max-width: 1120px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.search-section{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-title{
  margin: 45px 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.625rem;
  color: #FFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.search-form{
  display: flex;
  width: 97%;
  justify-content: space-around;
}
.search-field{
  width: 80%;
  height: 63px;
  border: none;
  margin-right: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  padding-left: 30px;
  letter-spacing: 0.18px;
}
.search-field-invalid{
  border: 2px solid;
  border-color: red;
}
.search-field::-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 15px;
  padding-top: 20px;
}
.search-field::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 15px;
}
.search-field:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 15px;
}
.search-field::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 15px;
}
.search-field::placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 15px;
}
.search-button{
  padding-left: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #FFF;
  width: 20%;
  height: 63px;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: rgb(207, 10, 44);
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: 28% 50%;
  cursor: pointer;
}

/*partners*/
.partners{
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 3rem;
  font-size: 1.2rem;
  font-family: 'Raleway';
  color: #fff;
  box-sizing: border-box;
}
.partners input[type="submit"]{
  color: #fff;
}
.partners form textarea{
  resize: none;
}
.partners form input, .partners form textarea::-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #CBCBCB;
}
.partners form input, .partners form textarea::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #CBCBCB;
}
.partners form input, .partners form textarea:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #CBCBCB;
}
.partners form input, .partners form textarea::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #CBCBCB;
}
.partners form input, .partners form textarea::placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #CBCBCB;
}
.nobg{
  background: #1F8A5C;
}
.partners div{
  width: 40%;
  display: flex;
  margin: auto;
}

.partners form{
  width: 40%;
  padding: 0 3rem;
}

.partners h2{
  text-align: center;
}

.partners input,textarea {
  display: block;
  width: 70%;
  margin: 1rem auto;
  padding: .5rem;
  border: 0;
  border-radius: 5px;
  min-width: 300px;
  box-sizing: border-box;
}

.partners .navbar-item.navbar-item-reg{
  margin: auto;
}

.footer{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;  
}
.footer-wrapper{
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.copyright{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  letter-spacing: 0.26px;
  color: rgb(255, 255, 255);
}
.policy{
  display: flex;
  flex-flow: column;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  color: #FFFFFF;
  text-align: right;
}
.policy a{
  font-size: 0.8125rem;
}

@media (max-width: 900px) {
  .partners{
    flex-direction: column;
  }

  .partners div {
    width: 90%;
    padding: 3rem 0 1rem 0;
}
}

@media (max-width: 768px) {
  .header-wrapper{
    flex-flow: column;
  }
  .navbar{
    margin-top: 20px;
  }
  .search-wrapper{
    background: none;
  }
  .search-form{
    flex-flow: column;
    align-items: center;
  }
  .search-button{
    width: 300px;
    max-width: 270px;
    margin-top: 50px;
  }
  .search-title{
    font-size: 1.5em;
  }
  .search-field{
    max-width: 500px;
    min-width: 500px;
    margin: 0;
  }
  .footer-wrapper{
    justify-content: space-around;
  }
  .partners{
    padding: 0;
  }
  .partners form{
    width: 100%;
    margin: 1rem auto;
    padding: 0;
  }
  .partners p{
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .header-wrapper{
    flex-flow: column;
  }
  .navbar ul{
    margin: 0;
    flex-flow: column;
  }
  .navbar-item{
    margin-left: 0;
    margin-top: 25px;
  }
  
  .search-title{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .search-field{
    max-width: 280px;
    min-width: 280px;
    margin: 0;
    height: 43px;
    padding-left: 10px;
  }
  .search-field::-moz-placeholder {
    font-size: 0.5rem;
    padding-left: 0;
    text-overflow: ellipsis;
  }
  .search-field::-webkit-input-placeholder {
     font-size: 0.85rem;
     padding-left: 0;
     text-overflow: ellipsis;
  }
  .search-field:-ms-input-placeholder {
    padding-left: 0;
   text-overflow: ellipsis;
  }
  .search-field::-ms-input-placeholder {
    padding-left: 0;
    text-overflow: ellipsis;
  }
  .search-button{
    height: 43px;
    width: 45%;
    margin: 20px 0 0 0;
    font-size: 1em;
  }
  .footer-wrapper{
    margin: 0;
    flex-direction: column;
  }
  .footer-logo{
    display: none;
  }
}