<table class='table table-bordered'>
   <form action='upload.php' method='post' enctype='multipart/form-data'>
      <tr>
         <td>
            <div class='file_upload'>
               <input type='file' name='avatar'>
               <p class='plus'>+</p>
            </div>
         </td>
         <td>
            <div class='file_upload'>
               <input type='file' name='avatar'>
               <p class='plus'>+</p>
            </div>
         </td>
      </tr>
      <tr>
         <td>
            <div class='file_upload'>
               <input type='file' name='avatar'>
               <p class='plus'>+</p>
            </div>
         </td>
         <td>
            <div class='file_upload'>
               <input type='file' name='avatar'>
               <p class='plus'>+</p>
            </div>
         </td>
   </form>
</table>
                  