	body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #868585;
	background: #fdfcfb;
	font-weight: normal;
}

header {
	margin: 100px 0 30px;
}
.add{
	display: none;
}
#add{
	display: none;
}
.menu {
	background: #fefefe;
	border: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
}

.navbar-default .navbar-nav>li>a {
	color: #8d8c8c;
	font-size: 15px;
	text-transform: none;
	padding-right: 20px;
	padding-left: 20px;
}

nav .navbar-nav {
	margin-left: 50px;
}

.border-line:nth-child(2n+1) {
	border-right: 1px solid rgba(169, 169, 169, 0.7);
}

.border-line:nth-last-child(n+3) {
	border-bottom: 1px solid rgba(169, 169, 169, 0.7);
}

.navbar-default .navbar-nav>li.active-link>a {
	border-bottom: 1px solid rgb(0, 135, 81);
	color: #8d8c8c;
}

.navbar-default .navbar-nav:not(.icons)>li>a:hover {
	color: #000;
}

.icons li a {
	padding: 15px 5px;
}

.menu .container {
	position: relative;
}

.globe {
	font-size: 25px;
	line-height: 50px;
	position: absolute;
	right: 25px;
	cursor: pointer;
	color: #d0cfce;
	display: none;
}

.table-border {
	border: none;
}

.card img {
	object-fit: cover;
	width: 300px;
}

.icon_button {
	cursor: pointer;
	float: right;
}
.update-buttons{
	cursor: pointer;
	float: right;
}
table td input {
	background: #fdfcfb;
	border-radius: 2px;
	border: 1px solid #fdfcfb;
	box-shadow: inset 0px;
	width: 100%;
}

.update-buttons{
	display: none;
}

#block-for-slider {
	width: 300px;
	height: 200px;
	padding: 3px;
	margin: 10px 0;
}

#viewport {
	width: 300px !important;
	display: table;
	position: relative;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
}

.filters select {
	margin-top: 15px;
}

.filters button {
	margin-top: 15px;
}

form {
	margin-bottom: 30px;
}

.card-comments {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	margin: 10px;
	padding: 5px;
	padding-bottom: 20px;
}

.card {
	margin-bottom: 30px;
}

.card-admin {
	height: auto;
	margin-top: 30px;
}

.nav-pager {
	text-align: center;
}

.pagination>li>a,
.pagination>li>span {
	color: #b5b3b3;
}

.delete form {
	padding-right: 5px;
	width: 20px;
	display: inline-block;
	cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.carous {
	height: 50px !important;
	top: 80px;
}

.cari {
	text-align: center;
	top: 15px !important;
}

.delete {
	position: absolute;
	font-size: 15px;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #d0cfce;
	transition: .5s;
}

.delete :first-child:hover {
	cursor: pointer;
	transition: .2s;
	font-size: 17px;
	color: #4682B4;
}

.delete :nth-child(2):hover {
	cursor: pointer;
	transition: .2s;
	font-size: 17px;
	color: #B22222;
}

.delete :first-child:not(:hover),
.delete :nt-child(2):not(:hover) {
	transition: .2s;
}

.btn-add {
	float: right;
	margin-right: 20px;
}

.icon_button_users {
	position: relative;
	float: right;
}

.icon_button_comments {
	position: relative;
	float: right;
	margin-left: 100px;
}

.pagination .active a,
.pagination .active a:focus,
.pagination .active a:hover,
.pagination .active span,
.pagination .active span:focus,
.pagination .active span:hover {
	background: #fff;
	border: 1px solid #ddd;
	color: rgb(0, 135, 81);
}

.img-avatar {
	display: inline-block;
}

.img-avatar img {
	float: left;
	border: 1px solid #000;
	object-fit: cover;
	height: 150px;
	width: 150px;
}

.img-avatar table {
	float: right;
	margin-left: 15px;
	font-size: 14px;
	margin-top: 10px;
}

.img-avatar table tr td {
	height: 20px;
	width: auto;
}

.card-comments img {
	float: left;
	border-radius: 50%;
	border: 1px solid #000;
	object-fit: cover;
	height: 100px;
	width: 100px;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand>img {
	width: auto;
	height: 200%;
	position: relative;
	top: -25px;
	left: 10px;
}


}
.text_comments {
	padding-left: 10%;
}
.text_comments textarea {
	width: 90%;
	height: 200px;
	overflow-x: hidden;
}
@media only screen and (max-width: 355px) {
	.img-avatar img {
		height: 100px;
		width: 100px;
	}
	
	.img-avatar table {
		font-size: 8px;
		margin-top: 10px !important;
	}
}
@media only screen and (max-width: 1199px) {
	.navbar-brand {
		padding-right: 10px;
	}
	
	.icons {
		display: none;
		position: absolute;
		right: 34px;
		top: 50px;
	}
	
	.icons li {
		float: none;
	}
	
	.icons li a {
		padding: 5px;
	}
	
	.btn-add {
		margin-top: 20px;
	}
	
	@media only screen and (max-width: 1210px) {
		.navbar-default .navbar-nav>li>a {
			margin-right: 0;
		}
	}
	
	@media only screen and (max-width: 992px) {
		.img-avatar img {
			height: 100px;
			width: 100px;
		}
		.card-admin {
			height: 100px;
		}
		.img-avatar table {
			font-size: 10px;
			margin-top: 10px !important;
		}
		.icons li {
			float: none;
		}
		.btn-add {
			margin-top: 60px;
		}
		.btn-add button {
			height: 25px;
			width: 80px;
			font-size: 10px;
		}
		.icons li a {
			padding: 5px;
		}
		.navbar-default .navbar-nav:not(.icons)>li>a {
			font-size: 10px;
			padding-bottom: 5px;
		}
		.navbar-default .navbar-nav {}
		.navbar-default .navbar-nav>li>a {
			margin-right: 0;
		}
		nav .navbar-nav {
			margin-left: 0;
		}
		nav .navbar-nav {
			padding-left: 20px;
		}
		.icon-button-users button {
			height: 10px;
		}
		.card table {
			margin-top: 30px;
			width: 100%;
		}
		.menu {
			height: 50px;
		}
	}
	
	@media only screen and (min-width: 768px) {
		.container-fluid .navbar-collapse,
		.container-fluid .navbar-header,
		.container .navbar-collapse,
		.container .navbar-header {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	
	@media only screen and (max-width: 767px) {
		.globe {
			display: none;
		}
		nav .navbar-nav {
			padding-left: 0;
			margin: 7.5px -15px;
			margin-top: 30px;
		}
		.menu {
			padding: 0;
		}
		.navbar-brand img {}
		.navbar-default .navbar-nav>li.active-link>a {
			border-bottom: 0;
			color: #fff;
			background: rgb(0, 135, 81);
		}
		.navbar-default .navbar-nav:not(.icons) li a:hover {
			border-bottom: 0;
			color: #fff;
			background: #d0cfce;
		}
		.icons {
			display: block !important;
			position: relative;
			right: 0;
			top: 0;
		}
		.icons li {
			display: inline-block;
		}
		.img-avatar img {
			height: 100px;
			width: 100px;
		}
		.img-avatar table {
			font-size: 8px;
			margin-top: 10px !important;
		}
	}
	
	@media only screen and (min-width: 1200px) {
		.icons {
			display: block !important;
		}
	}
	
	@media only screen and (min-width: 480px) {
		header,
		.card,
		.card-admin {
			margin-bottom: 10px;
		}
	}