*{
	margin: 0;
 	padding: 0;
}
body{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
}
h4{
	color: #FFF;
  font-weight: 500;
	margin-bottom: 15px;
}
a{
	text-decoration: none;
	color: #FFF;
  transition: .5s all ease;
}
a:hover{
	color: #CF0A2C;
}
p{
	color: #FFF;
  font-size: 0.75rem;
  text-align: center;
}
input{
	border: none;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
	font-style: normal;
  font-weight: 600;
  height: 40px;
  min-height: 40px;
 	padding-left: 10px;
  margin-bottom: 10px;
}
input::-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 5px;
}
input::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 5px;
}
input:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 5px;
}
input::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 5px;
}
input::placeholder {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.18px;
  color: #CBCBCB;
  padding-left: 5px;
}
button{
  font-size: 1.2rem;
  color: #FFF;
  min-height: 60px;
  padding: 1rem;
  background: #CF0A2C;
  border-style: none;
  cursor: pointer; 
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 1rem;
}
button:disabled{
  background: gray;
}
.error{
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
section {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
	background-color: #1F8A5C;
}
img{
  margin: 20px;
}
form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  max-width: 300px;
}

p.title{
  width: 80%;
  margin-bottom: 15px;
}
input[type="checkbox"] {
    width: 1.3rem;
    padding: 0;
    margin: 0;
    height: 1.3rem;
    min-height: auto;
    position: relative;
}
.fake-label{
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 6px;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  top: 5px;
}
.fake-label > input{
  display: inline-block;
  opacity: 0;
}
.fake-label + p{
  display: inline;
}
.fake-label i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  opacity: 0;
}
.fake-label input:checked + i{
  opacity: 1;
}
fieldset{
  border: none;
  margin: 0 0 10px 0;
}